# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Node dependencies and build output
node_modules/
dist/
npm-debug.log*
yarn-error.log*

# Docker files
.docker/
docker-compose.override.yml

# Model files
/models/*
!/models/active_models.json

*.gguf
*.safetensors
*.bin
*.pt
*.ckpt

# OS or editor files
.DS_Store
*.swp

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore zero-length placeholder files
CACHED
\[backend
\[backend\]
\[frontend-admin
\[frontend-admin\]
\[frontend-user
\[frontend-user\]
\[inference
\[inference\]
docker
inference/llama_cpp_python-0.2.73-cp310-cp310-linux_x86_64.whl
!/models/sample-model.gguf
/knowledge-base-app
modules/backend/app/data/knowledge/d97e17ba-27eb-4407-86bc-4ea0060f5cb6_戴尔意外损坏服务【保障范围】.txt
